/* styles for my website */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: yellow;
    /* height: 200px; */
    padding: 20px 0;
        /* adds padding to top and bottom */
}

.inner-header {
    /* background: tan; */
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
        /* since we cleared the wrapper because have floating elements in it, we need to declare overflow hidden so the header still shows up */
}

#logo {
    width: 160px;
    float: left;
}

nav ul {
    float: right;
    margin-top: 30px;
    list-style-type: none;
}

nav li {
    float: left;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
}

#wrapper {
    max-width: 1200px;
    margin: 20px auto;
        /* centers element*/
    clear: both;
        /* since we have elements inside the wrapper (such as the navigation inside our header) floating, we need to clear the wrapper */
    overflow: hidden;
        /* if you suddenly aren't seeing a background color or a margin bottom isn't appearing when you have floating elements, try declaring overflow hidden */
}

#hero {
    background: red;
    /* height: 400px; */
    margin-bottom: 20px;
}

main {
    background: lightblue;
    width: 62%;
    /* height: 400px; */
    float: left;
}

aside {
    background: lightsalmon;
    width: 35%;
        /* notice how main and aside widths don't add up to 100%. this is because you want gutter space, space between the two elements so that the layout looks nice */
    /* height: 300px; */
    float: right;
}

footer {
    background: lightgrey;
    height: 60px;
    line-height: 60px;
        /* this vertically centers your content since we have a height of 60px already */
    clear: both;
        /* ensures the footer comes after the main and the aside. need to clear because main and aside are floating elements */
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 15px;
}

img {
    max-width: 100%;
        /* ensures that images will fit inside the container they are in */
}

/* typography */

p {
    margin-bottom: 20px;
    line-height: 1.4;
}

h1, h2, h3 {
    margin-bottom: 10px;
    font-family: playfair, serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

