/* styles for my website */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #b39d8b;
    color: #38291f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: #f5c242;
    /* height: 200px; */
    /* padding: 20px 0; */
        /* adds padding to top and bottom */
}

.inner-header {
    /* background: tan; */
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
        /* since we cleared the wrapper because have floating elements in it, we need to declare overflow hidden so the header still shows up */
}

#logo {
    width: 100px;
    float: left;
}

nav ul {
    float: right;
    margin-top: 50px;
    list-style-type: none;
}

nav li {
    float: left;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
}

#wrapper {
    max-width: 1200px;
    margin: 20px auto;
        /* centers element*/
    clear: both;
        /* since we have elements inside the wrapper (such as the navigation inside our header) floating, we need to clear the wrapper */
    overflow: hidden;
        /* if you suddenly aren't seeing a background color or a margin bottom isn't appearing when you have floating elements, try declaring overflow hidden */
}

#hero {
    background: #917260;
    /* height: 400px; */
    margin-bottom: 20px;
}

main {
    background: #b0bdb9;
    width: 62%;
    /* height: 400px; */
    float: left;
    padding: 20px;
}

main img {
    width: 250px;
    float: right;
    margin-left: 20px;
}

aside {
    background: #93a5a4;
    width: 35%;
        /* notice how main and aside widths don't add up to 100%. this is because you want gutter space, space between the two elements so that the layout looks nice */
    /* height: 300px; */
    float: right;
    padding: 20px 20px 10px 20px;
}

aside li {
    list-style-type: "- ";
    margin-left: 15px;
}

/* aside a color i put by the footer css */

aside a:hover {
    color: #f5c242;
}

footer {
    background: #917260;
    height: 60px;
    line-height: 60px;
        /* this vertically centers your content since we have a height of 60px already */
    clear: both;
        /* ensures the footer comes after the main and the aside. need to clear because main and aside are floating elements */
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 15px;
}

footer a, aside a {
    color: #38291f;
    text-decoration: none;
}

footer a:hover {
    color: #b39d8b;
}

img {
    display:block;
    max-width: 100%;
        /* ensures that images will fit inside the container they are in */
    margin: auto auto 10px auto;
}

/* typography */

p {
    margin-bottom: 20px;
    line-height: 1.4;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    color: #4f392c;
}

h3 {
    font-size: 1.3em;
}

